$grid-gap: 0.5rem;

.trip-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $grid-gap;
}

.destination-itinerary {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid gray;

  .destination-plan {
    h3 {
      cursor: pointer;
      color: blue;
    }
  }
}
