$grid-gap: 0.5rem;
$margin: 1rem;

.itinerariesOverview {
  margin: $margin 0;
}

.itinerariesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $grid-gap;
}

.destinationItinerary {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}

.destinationPlanTitle {
    cursor: pointer;
}