node_modules/
.idea/
*.coverage
__pycache__/
._*
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
*.rdb
nohup.out
.env
.env.development
test.sh

backend/.tmp

# Backend files
backend2/places/data
backend2/cities/data

backend/data


