node_modules/
.idea/
*.coverage
__pycache__/
._*
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
*.rdb
nohup.out
.env.development
test.sh


# Backend files
backend/places/data
backend/cities/data


