/* General application styles (i.e. bootstrap) */
$margin: 0.5rem;
$padding: 0.5rem;
$border-radius: 3px;

$header-color: #3891A6;
$logo-color: #fff;

$btn-primary-color: deepskyblue;
$btn-primary-text-color: white;

$btn-danger-color: #c9302c;
$btn-danger-text-color: white;

$btn-light-color: #fff;
$btn-light-border-color: grey;
$btn-light-text-color: black;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: $margin 0;
  color: $header-color;
}

p {
  margin: $margin 0;
}

a, a:visited  {
  text-decoration: none;
  color: #205460;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header  header" ". content  ." "footer footer  footer";
}

.header {
  grid-area: header;
  background-color: $header-color;
  display: flex;
  flex-direction: row;
  padding: $padding 3*$padding;

  .brand {
    flex: 1 1 25%;
    font-size: 2.5rem;
    font-weight: bold;

    text-decoration: none;
    color: $logo-color;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar {
    display: flex;
    padding: $padding;

    .nav-item {
      font-size: 1rem;
      margin: 0 $margin;
       font-weight: bold;

      a {
        text-decoration: none;
        color: white;
      }
    }

    .nav-dropdown {
      .dropdown-toggle {
        cursor: pointer;
        border: none;
        outline: none;
        color: white;
        padding: 0;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        position: relative;

        &:hover, &:focus {

        }
      }

      .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: black;
          padding: $padding;
          display: block;
          text-align: center;

          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.footer {
  grid-area: footer;
  background-color: $header-color;
  padding: $padding 3*$padding;
  color: $logo-color;
  height: 50px;
}

.content {
  grid-area: content;
  padding: $padding;
  min-height: calc(100vh - (50px + 62px));
}

button {
  padding: 2*$padding 3*$padding;
  margin: $margin;
  border: 1px solid lightgray;
  border-radius: $border-radius;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  background-color: lightgray;

  &:first-of-type {
    margin-left: 0;
  }
}

.btn-primary {
  background-color: $btn-primary-color;
  border: 1px solid $btn-primary-color;
  color: $btn-primary-text-color;
}

.btn-danger {
  background-color: $btn-danger-color;
  border: 1px solid  $btn-danger-color;
  color: $btn-danger-text-color;
}

.btn-light {
  background-color: $btn-light-color;
  border: 1px solid $btn-light-border-color;
  color: $btn-light-text-color;
}

.btn-thin {
  padding: $padding 1.5*$padding;
  margin: 0 $margin;
}

.card {
  padding: $padding;
  border-radius: $border-radius;
  border: 1px solid gray;
  text-align: center;

  .card-title, .card-title a {
    color: $header-color;
    text-decoration: none;
  }
}

form {
  .form-group {
    padding: $padding $padding $padding 0;

    input {
      margin-top: $margin;
    }
  }
}

input {
  padding: $padding;
  border-radius: $border-radius;
  font-family: inherit;
  border: 1px solid;
  width: 100%;
}

select {
  border-radius: $border-radius;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  margin: $margin 0;
}